<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="${bootstrapVersion}"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style>
		#number-container, #securityCode-container {
			height: 38px;
		}

		.flex-microform-focused {
			background-color: #fff;
			border-color: #80bdff;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <a class="navbar-brand" href="/">Flex Microform</a>
</nav>
<div class="container card">
    <div class="card-body">
        <h1>Checkout</h1>
        <div id="errors-output" role="alert"></div>
        <form th:action="@{/token}" id="my-sample-form" method="post">
            <div class="form-group">
                <label for="cardholderName">Name</label>
                <input id="cardholderName" class="form-control" name="cardholderName" placeholder="Name on the card">
                <label id="cardNumber-label">Card Number</label>
                <div id="number-container" class="form-control"></div>
                <label for="securityCode-container">Security Code</label>
                <div id="securityCode-container" class="form-control"></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="expMonth">Expiry month</label>
                    <select id="expMonth" class="form-control">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                        <option>05</option>
                        <option>06</option>
                        <option>07</option>
                        <option>08</option>
                        <option>09</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="expYear">Expiry year</label>
                    <select id="expYear" class="form-control">
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                        <option>2031</option>
                        <option>2032</option>
                    </select>
                </div>
            </div>

            <button type="button" id="pay-button" class="btn btn-primary">Pay</button>
            <input type="hidden" id="transientToken" name="transientToken">
        </form>
    </div>
</div>

<input type="hidden" id="jwt" th:value="${captureContextJwt}"/>
<script th:src="${clientVersion}"></script>
<script>
    // JWK is set up on the server side route for /

    var form = document.querySelector('#my-sample-form');
    var payButton = document.querySelector('#pay-button');
    var transientToken = document.querySelector('#transientToken');
    var expMonth = document.querySelector('#expMonth');
    var expYear = document.querySelector('#expYear');
    var errorsOutput = document.querySelector('#errors-output');


    var captureContext = document.getElementById("jwt").value;

    // custom styles that will be applied to each field we create using Microform
    var myStyles = {
        'input': {
            'font-size': '14px',
            'font-family': 'helvetica, tahoma, calibri, sans-serif',
            'color': '#555'
        },
        ':focus': { 'color': 'blue' },
        ':disabled': { 'cursor': 'not-allowed' },
        'valid': { 'color': '#3c763d' },
        'invalid': { 'color': '#a94442' }
    };

    console.log(captureContext);

    // setup
    var flex = new Flex(captureContext);
    var microform = flex.microform("card", { styles: myStyles });
    var number = microform.createField('number', { placeholder: 'Enter card number' });
    var securityCode = microform.createField('securityCode', { placeholder: '•••' });

    number.load('#number-container');
    securityCode.load('#securityCode-container');


    payButton.addEventListener('click', function() {
        var options = {
            expirationMonth: expMonth.value,
            expirationYear: expYear.value
        };

        microform.createToken(options, function (err, token) {
            if (err) {
            // handle error
                console.error(err);
                errorsOutput.textContent = err.message;
            } else {
            // At this point you may pass the token back to your server as you wish.
            // In this example we append a hidden input to the form and submit it.
                console.log(JSON.stringify(token));
                transientToken.value = token;
                form.submit();
            }
        });
    });

</script>
</body>
</html>
