<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Checkout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="Site.css" />
</head>

<body>
<div class="container wrapper">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-lock"></span> Payment Form
        </div>
        <div class="panel-body">
            <form accept-charset="UTF-8" action="/receipt" autocomplete="off" method="post" novalidate="novalidate">
                <div class="form-group">
                    <label for="cardType">Card Type</label>
                    <select class="form-control" id="cardType">
                        <option value="001">VISA</option>
                        <option value="002">MASTERCARD</option>
                        <option value="003">AMEX</option>
                        <option value="004">DELTA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pan">Card number</label>
                    <input type="text" id="pan" class="form-control" maxlength="19" />
                </div>
                <div class="form-group">
                    <label for="cvn">Security code</label>
                    <input type="text" id="cvn" name="cvn" class="form-control" maxlength="4" />
                </div>
                <div class="form-group">
                    <label for="cardExpirationMonth">Expiration Date</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <select class="form-control" name="cardExpirationMonth" id="cardExpirationMonth">
                                <option value="01">01 (JAN)</option>
                                <option value="02">02 (FEB)</option>
                                <option value="03">03 (MAR)</option>
                                <option value="04">04 (APR)</option>
                                <option value="05">05 (MAY)</option>
                                <option value="06">06 (JUN)</option>
                                <option value="07">07 (JUL)</option>
                                <option value="08">08 (AUG)</option>
                                <option value="09">09 (SEP)</option>
                                <option value="10">10 (OCT)</option>
                                <option value="11">11 (NOV)</option>
                                <option value="12">12 (DEC)</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control" name="cardExpirationYear" id="cardExpirationYear">
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--HIDDEN INPUTS FOR TOKENISED RESPONSE-->
                <input type="hidden" name="flex_keyId" />
                <input type="hidden" name="flex_token" />
                <input type="hidden" name="flex_maskedPan" />
                <input type="hidden" name="flex_cardType" />
                <input type="hidden" name="flex_timestamp" />
                <input type="hidden" name="flex_signedFields" />
                <input type="hidden" name="flex_signature" />

                <!-- Button to attach our tokenise handler to. Note that it is NOT a submission input or button -->
                <button type="button" id="pay-btn" class="btn btn-lg btn-block btn-primary">Pay Now</button>
            </form>
        </div>
    </div>
</div>

<!-- TEMPLATE INJECTED KEYSTORE -->
<script th:inline="javascript">
  /*<![CDATA[*/
  window.keystore = /*[[${jwk}]]*/ null;
  console.log("Injected JSON containing JWK: ");
  console.log(window.keystore);
  /*]]>*/
</script>

<!--SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="flex.js"></script>
<script>
    FLEX.setup(window.keystore)

    var responseHandler = function(status, response){

      // Set the hidden fields
      $("input[name=flex_keyId]").val(response.keyId)
      $("input[name=flex_token]").val(response.token)
      $("input[name=flex_maskedPan]").val(response.maskedPan)
      $("input[name=flex_cardType]").val(response.cardType)
      $("input[name=flex_timestamp]").val(response.timestamp)
      $("input[name=flex_signedFields]").val(response.signedFields)
      $("input[name=flex_signature]").val(response.signature)

      // Submit form
      $("form").submit()
    }

    var errorHandler = function(status, response){
      alert("There has been an error: " + status)
      console.error(response)
	  $("#pay-btn").prop("disabled", false).text("Pay Now")
    }

    $("#pay-btn").on("click", function(){
	  $(this).prop("disabled", true).text("Processing...")
	  
      var cardData = {
        cardType: $('#cardType').val(),
        cardNumber: $('#pan').val(),
        cardExpirationMonth: $('#cardExpirationMonth').val(),
        cardExpirationYear: $('#cardExpirationYear').val()
      }
      FLEX.createToken(cardData, responseHandler, errorHandler)
    })
  </script>
</body>
</html>