<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Receipt</title>
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body { margin-top: 50px; }
        .container { max-width: 600px; }
        .panel-heading .btn.pull-right{ margin-top: -5px; }
        .table{ table-layout: fixed; word-wrap: break-word; white-space: pre-wrap; }
    </style>
</head>

<body>
<div class="container wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-info-sign"></span> Receipt
            <a href="/checkout" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-repeat"></span> Repeat checkout process
            </a>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <p>This is what was posted to the merchant servers.</p>
                <p>Note the masked PAN and payment token. These can be used to process a transaction with out directly handling the PAN data.</p>
            </div>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Param</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add a row for each post param, highlighting important fields using 'success' css class -->
                    <tr th:each="mapEntry:${postParams}" th:class="${mapEntry.key == 'flex_token' || mapEntry.key == 'flex_maskedPan'} ? 'success' : ''" >
                        <td th:text="${mapEntry.key}"></td>
                        <td th:text="${mapEntry.value}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>