<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Unified Payments v. 2</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <a class="navbar-brand" href="/">Unified Payment</a>
</nav>

<main role="main" class="container">
    <div class="py-5 text-center">
        <h2>Data Captured</h2>
        <p class="lead">
            Cryptographically signed Transient Token is confirmation from VISA that your customer's Payment Credentials were securely captured by VISA.
            They will never leave our secure enclave and will also expire in 15 minutes.
            Now it is time to create Authorization request with Transient Token in lieu of sensitive PII and PAI data.
        </p>
    </div>

    <form action="create-authorization-request" method="post">
        <div class="form-group">
            <label for="ta1">Transient Token encoded as JWT</label>
            <textarea class="form-control" id="ta1" name="transientToken" rows="5">{transientToken}</textarea>
        </div>
        <div class="form-group">
            <label for="ta2">Transient Token decoded claims</label>
            <textarea class="form-control" id="ta2" rows="12">{claims}</textarea>
        </div>
        <div>
            <p>Flow complete.</p>
        </div>
        <a class="btn btn-success" href="/">Home</a>
    </form>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</body>
</html>