@model Dictionary<string, string>
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container receipt-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-info-sign"></span> Receipt
            <a href="/checkout" class="btn btn-default btn-sm pull-right">
                <span class="glyphicon glyphicon-repeat"></span> Repeat checkout process
            </a>
        </div>
        <div class="panel-body">
            <div class="alert alert-info">
                <p>This is what was posted to the merchant servers.</p>
                <p>Note the masked PAN and payment token. These can be used to process a transaction with out directly handling the PAN data.</p>
            </div>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Param</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add a row for each post param, highlighting important fields using 'success' css class -->
                    @foreach(var param in Model)
                    {
                        <tr class="@(param.Key == "flex_token" || param.Key == "flex_maskedPan" ? "success" : "")">
                            <td>@param.Key</td>
                            <td>@param.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>